.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pokemon-details-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid black 1px;
    width: 400px;
    height: 400px; 
}