
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background-image: 'background.png';
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin: 50px;
  font-family: 'Press Start 2P', cursive;
}

.App-header {
  background-color: #1a2375;
  min-height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.App-link {
  color: #835292;
}

input {
  margin-top: 100px;
  width: 200px;
}

select {
  margin-top: 5px;
}

.search-button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100px;
}

.pokemon-list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-sizing: border-box;
  margin-left: 50px;
}

.page-numbers {
  padding-top: 10px;
  color: rgba(43, 99, 184, 0.849);
}

img {
  width: 180px;
  height: 180px;
  filter: saturate(30%);
  filter: drop-shadow(5px 10px 15px rgb(97, 97, 253));
}

img:hover {
  opacity: .5;
}